#List {
  border-right-style:solid ;
  padding: 0 0 179px 0;

}

#username {
  padding: 27px 130px 0px 106px;
  cursor: pointer;
}

#nav {
  width: 500px;
}

#footer {
  background-color: #242429;
  min-height: 75px;
}

#load {
  text-align: center;
    width: 1950px;
    min-height: 820px;
}

.link {
  text-decoration: none;
}

#usrimg{
  width: 4%;
}

.flex{
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 0px;
  margin: 0px -500px 0 65px;
}

#cardinf {
  text-align: -webkit-center;
  margin: 240px 0 0 0;
}

article {
  display: flex;
  flex-direction: column;
}

#updwn {
  text-align: center;
  margin: 50px 0 0 0;
}
.updown {
  margin: 0 16px 0 16px;
  width: 7%;
  cursor: pointer;
}